div.main {
  color: white;
  width: auto;
  height: auto;
  background-color: #f37f7f;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
}

div.item {
  width: 300px;
  height: 20px;
  border: 2px #f37f7f solid;
  background-color: #f79a9a;
  padding: 10px;
}

span.item-text {
  float: left;
  color: white;
}

span.item-button {
  float: right;
}

span.head {
  background-color: #f37f7f;
  line-height: 3px;
}

span.moveEnd {
  font-size: 10px;
  position: relative;
  left: 140px;
  top: 5px;
}

form.addItem {
  line-height: 25px;
  height: auto;
  width: auto;
  position: relative;
  top: 10px;
  padding: 20px;
}

lable.addItem-text {
  float: left;
}

button.addItem-button {
  color: white;
  border: 0.5px #f8c9c9 solid;
  background-color: #f79a9a;
  padding: 10px;
  position: relative;
  left: 3px;
}
